<!DOCTYPE HTML>

<html>
	<head>
		<title>Job Insights</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>Job Insights </strong></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							
							
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Get Started</a></li>
							
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Transform Job Hunting with Insights</h1>
							</header>
							<div class="content">
								<p>Get ahead in your job search with real-time data and actionable insights for better opportunities and career growth.</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="static/images/pic01.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="http://127.0.0.1:5000/datascience" class="link">Data Science</a></h3>
										<p> Tableau, Power BI, R, Python, ML Algorithms</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="static/images/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="http://127.0.0.1:5000/fullstack" class="link" id="Full Stack Developer">Full Stack Developer</a></h3>
										<p>Javascript, HTML5, CSS, React, MongoDB, Nodejs, Django, Expressjs, Flask</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="static/images/pic03.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="http://127.0.0.1:5000/devops" class="link">Devops Engineer</a></h3>
										<p>SDLC, Agile Methodology, Jenkins, Selenium, Docker, Nagios</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="static/images/pic04.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="http://127.0.0.1:5000/cloud" class="link">Cloud Engineer</a></h3>
										<p>AWS, Docker, Kubernates, Microsoft AZURE, Chef </p>
									</header>
								</article>
								
								
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>Overview</h2>
									</header>
										<p>Job Insights offers in-depth analysis of current IT industry jobs, providing valuable insights into the job landscape.
											By leveraging data from various sources, the platform delivers comprehensive information on the mentioned jobs.
											With a focus on the IT industry, Job Insights empowers users with valuable job market analysis and trends.</p>
									<ul class="actions">
										<li><a href="landing.html" class="button next">Get Started</a></li>
									</ul>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<h3>For More Suggestions:</h3>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">jobinsights123@gmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>+91 9521944444</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span>Based In New Delhi</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner" style="display:flex; justify-content: center;" >
					
							<ul class="copyright" >
								<a href="index.html"   class="logo"><strong>Job Insights </strong></a>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			<script src="https://code.highcharts.com/highcharts.js"></script>


	</body>
</html>